<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accident Data Feeder</title>
    <!-- Include flatpickr stylesheet -
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Include flatpickr JavaScript library -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <form method="post" action="/">
       <!-- <label for="id">ID:</label>
        <input type="text" id="id" name="id" value="{{ request.form.get('id', '') }}"><br> -->

        <label for="date">Date:</label>
        <input type="text" id="date" name="date" value="{{ request.form.get('date', '') }}"><br>

        <label for="location_city">Location City:</label>
        <input type="text" id="location_city" name="location_city" value="{{ request.form.get('location_city', '') }}"><br>

        <label for="location_state">Location State:</label>
        <input type="text" id="location_state" name="location_state" value="{{ request.form.get('location_state', '') }}"><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ request.form.get('description', '') }}"><br>

        <label for="severity">Severity:</label>
        <input type="text" id="severity" name="severity" value="{{ request.form.get('severity', '') }}"><br>

        <label for="make">Make:</label>
        <input type="text" id="make" name="make" value="{{ request.form.get('make', '') }}"><br>

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" value="{{ request.form.get('model', '') }}"><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ request.form.get('name', '') }}"><br>

        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="{{ request.form.get('age', '') }}"><br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="{{ request.form.get('gender', '') }}"><br>

        <label for="license_plate">License Plate:</label>
        <input type="text" id="license_plate" name="license_plate" value="{{ request.form.get('license_plate', '') }}"><br>

        <button type="submit">Generate XML</button>
    </form>
        <!-- Include flatpickr initialization script -->
        <script>
            flatpickr("#date", {
                dateFormat: "Y-m-d",  // Set the desired date format
            });
        </script>

    {% if xml_str %}
        <hr>
        <h3>Generated XML:</h3>
        <a href="{{ url_for('generate_xml') }}">Download XML</a>
        <pre>{{ xml_str | safe }}</pre>
    {% endif %}
</body>
</html>
